form {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.form-group input {
    margin: 5px;
    margin-left:0px;
    height:1.7em;
    width:20em;
    font-size:1.5em;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}